@model IEnumerable<CompanyJLSV7.Models.Bodega>

@{
    ViewBag.Title = "Bodega";
}

<h2>Bodega</h2>

<p>
    @Html.ActionLink("Agregar producto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombreproducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fechadevencimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombreproveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefonoproveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidadproducto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombreproducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fechadevencimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombreproveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefonoproveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidadproducto)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idProducto }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idProducto }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idProducto })
        </td>
    </tr>
}

</table>
