@model CompanyJLSV7.Models.Formapago

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Efectivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Efectivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarjeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarjeta)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Numeropago }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
