@model IEnumerable<CompanyJLSV7.Models.Formapago>

@{
    ViewBag.Title = "Forma de pago";
}

<h2>Forma de pago</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Efectivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarjeta)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Efectivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarjeta)
        </td>
       
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Numeropago }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Numeropago }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Numeropago })
        </td>
    </tr>
}

</table>
