@model IEnumerable<CompanyJLSV7.Models.Formapago>

@{
    ViewBag.Title = "Forma de pago";
}

<h2>Forma de pago</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table style="font-family:'Times New Roman'; font-size:medium" class="table">
    <tr style=" background-color: #0c0d3b; color: #ffffff; border: white solid 5px" class="header-table;  text-shadow: -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, 2px 2px 0 #000000">
        <th>
            @Html.DisplayNameFor(model => model.Efectivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarjeta)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Efectivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarjeta)
            </td>

            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Numeropago }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Numeropago }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Numeropago })
            </td>
        </tr>
    }

</table>
<div id="imagenCompany" style="text-align:center">
    <img src="~/Imagenes/companyiamn.jpg" ; width="400" height="400" />
</div>