@model IEnumerable<CompanyJLSV7.Models.Plato>

@{
    ViewBag.Title = "Platos";
}

<h2>Platos</h2>

<p>
    @Html.ActionLink("Agregar plato", "Create")
</p>
<table style="font-family:'Times New Roman'; font-size:medium" class="table">
    <tr style=" background-color: #0c0d3b; color: #ffffff; border: white solid 5px" class="header-table;  text-shadow: -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, 2px 2px 0 #000000">
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredientes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredientes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Codigoplato }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Codigoplato }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Codigoplato })
            </td>
        </tr>
    }

</table>
<div id="imagenCompany" style="text-align:center">
    <img src="~/Imagenes/companyiamn.jpg" ; width="400" height="400" />
</div>