@model CompanyJLSV7.Models.Detalletarjeta

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar tarjeta</h2>

<h3 style="color: #ff0000">¿Está seguro de eliminar esta tarjeta? (Esta accion es irreversible)</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombretitular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombretitular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fechavencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fechavencimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CVV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CVV)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
