@model CompanyJLSV7.Models.Detalletarjeta

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalle de tarjetas</h2>

<div>
    <h4>Detalle de tarjetas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombretitular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombretitular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fechavencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fechavencimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CVV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CVV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Numerotarjeta }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
