@model IEnumerable<CompanyJLSV7.Models.Detalletarjeta>

@{
    ViewBag.Title = "Detalle de tarjetas";
}

<h2>Detalle de tarjetas</h2>

<p>
    @Html.ActionLink("Agregar nueva tarjeta", "Create")
</p>
<table style="font-family:'Times New Roman'; font-size:medium" class="table">
    <tr style=" background-color: #0c0d3b; color: #ffffff; border: white solid 5px" class="header-table;  text-shadow: -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, 2px 2px 0 #000000">
        <th>
            @Html.DisplayNameFor(model => model.Nombretitular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fechavencimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CVV)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombretitular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fechavencimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CVV)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Numerotarjeta }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Numerotarjeta }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Numerotarjeta })
            </td>
        </tr>
    }

</table>
<div id="imagenCompany" style="text-align:center">
    <img src="~/Imagenes/companyiamn.jpg" ; width="400" height="400" />
</div>