@model CompanyJLSV7.Models.DetalleFactura

@{
    ViewBag.Title = "Eliminar Factura";
}

<h2>Eliminar factura</h2>

<h3 style="color: #ff0000">¿Está seguro de eliminar esta factura? (Esta accion es irreversible)</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plato.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plato.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
